* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(255, 254, 253);


    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
}

h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2.8rem;
}


/* BARRA DE NAVEGAÇÃO */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ff9951;

    padding: 0.7rem 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-img {
    max-width: 5.5rem;
    padding-top: 0.7rem;
}

.navbar-img:hover {
    transform: translateY(-3px);
}

.navbar-menu {
    display: flex;
    gap: 3rem;
}

.navbar-menu-item {
    color: #f78f45;

    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    padding-bottom: 0.3rem;
}

li {
    list-style-type: none;
}

.navbar-menu-item:hover {
    color: #863c8b;
    border-bottom: 1px solid #863c8b;

    transition: 0.2s;
}

/* APRESENTAÇÃO */
.apresentação {
    background-color: #f3dbe9;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentação-text {
    color: #56235a;
}

.apresentação-text h1 {
    font-family: 'Patua One', cursive;
    font-size: 6rem;
}

.apresentação-text p {
    font-size: 3rem;
    line-height: 3.5rem;

    padding-top: 1rem;
}

.apresentação-text span {
    color: #fd3c49;
}

.apresentação-img {
    width: 65rem;
}

/* SOBRE MIM */
.sobre-mim {
    background-color: #f5f5f5;

    margin: 3rem;
    padding: 2rem 4rem 0 4rem;

    display: flex;
    align-items: center;
}

.sobre-mim-img {
    max-width: 60rem;
}

.sobre-mim-text {
    color: #642a68;
    text-align: justify;
}

.sobre-mim-text h2 {
    color: #56235a;
}

.sobre-mim-icon {
    font-size: 4rem;
    padding-top: 7rem;

    display: flex;
    justify-content: space-around;
}

.sobre-mim-item {
    color: #f87f28;
}

.sobre-mim-item:hover {
    color: #5a1b68;
}

/* HABILIDADES */
.habilidades {
    background-color: #ffebdd;
    padding: 5rem 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habilidades-img {
    max-width: 50rem;
    margin: auto;
}

.habilidades-text {
    color: #78417d;
    max-width: 80rem;
    padding: 0 10rem;
    text-align: justify;
}

.habilidades-text h2 {
    color: #f1587a;
}

.link {
    color: #f24a5b;
    text-decoration: none;
}

.habilidades-icon {
    font-size: 4rem;

    padding-top: 11rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.habilidades-item {
    color: #642a68;
}

.habilidades-item:hover {
    color: #fd3c49;
    transition: 0.2s;
}

/* PROJETOS */
.projetos {
    background-image: linear-gradient(to bottom, #ffffff, #f0cde1);
}

.projetos-text {
    padding: 5rem 10rem 2rem 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projetos-text h2 {
    color: #6c1f7e;
}

.projetos-text a {
    background-color: #ff822b;
    color: #ffffff;

    padding: 10px 20px;
    margin-left: auto;
    border-radius: 20px;

    text-decoration: none;
    cursor: pointer;
}

.projetos-text a:hover {
    background-color: #6c1f7e;
}

/* CARDS */
.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.card-image {
    width: 100%;
    padding-top: 56.25%;

    overflow: hidden;
    position: relative;
}

.card-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text {
    margin: 20px;
}

.text {
    color: #3d258d;
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-bottom: 1.5rem;
}

.titulo {
    margin-bottom: 20px;
}

.relogio {
    padding-bottom:3.7rem ;
}

.info {
    display: flex;
    align-self: end;
    align-items: start;
    justify-content: space-between;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.demo {
    background-color: #fad4ba;
    padding: 5px 20px;
    margin-left: auto;
    border-radius: 20px;

    text-decoration: none;
    cursor: pointer;
}

.demo:hover {
    background-color: #f7944e;
}

.github {
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: .15rem;

    display: flex;
    align-items: center;
    gap: .3rem;
}

.github:hover {
    color: #f7944e;
}



/* CONTATO */
.contato {
    display: flex;
    justify-content: space-around;
}

.contato-content {
    color: #56235a;
    padding: 10rem 10rem 5rem 10rem;
}

.contato-text {
    text-align: center;
}

.contato-img {
    max-height: 30rem;
    padding: 8rem 10rem 0 0;
}

.contato-icons {
    font-size: 4rem;
    padding-top: 8rem;

    display: flex;
    justify-content: space-around;
}

.contato-icons-item {
    color: #f24a5b;
}

/* RODAPÉ */
.footer {
    background-color: #1f155a;

    padding: 3rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-menu-item {
    color: #faf0e9;

    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

.footer-menu-item:hover {
    color: #f78f45;
}

.footer-content p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #faf0e9;
    text-align: center;
}

/* ANIMAÇÃO */
[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translateX(-5%);
}

[data-anime="right"] {
    transform: translateX(5%);
}

[data-anime="top"] {
    transform: translateY(-11%);
}

[data-anime].animate {
    opacity: 1;
    transform: translateX(0);
}
