* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(255, 254, 253);

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2.8rem;
}



/* BARRA DE NAVEGAÇÃO */
.navbar {
    border-bottom: 1px solid #ff9951;

    background-color: #fff;

    padding: 0.7rem 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-img {
    max-width: 5.5rem;
    padding-top: 0.7rem;
}

.navbar-img:hover {
    transform: translateY(-3px);
}

.navbar-menu {
    display: flex;
    gap: 3rem;
}

.navbar-menu-item {
    color: #f78f45;

    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    padding-bottom: 0.3rem;
}

li {
    list-style-type: none;
}

.navbar-menu-item:hover {
    color: #863c8b;
    border-bottom: 1px solid #863c8b;

    transition: 0.2s;
}

/* APRESENTAÇÃO */
.apresentação {
    background-color: #f3dbe9;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentação-text {
    color: #56235a;
}

.apresentação-text h1 {
    font-family: 'Patua One', cursive;
    font-size: 6rem;
}

.apresentação-text p {
    font-size: 3rem;
    line-height: 3.5rem;

    padding-top: 1rem;
}

.apresentação-text span {
    color: #fd3c49;
}

.apresentação-img {
    width: 65rem;
}

/* SOBRE MIM */
.sobre-mim {
    background-color: #f5f5f5;
    margin: 3rem;
    padding: 2rem 4rem 0 4rem;
    display: flex;
    align-items: center;
}

.sobre-mim-img {
    max-width: 60rem;
}

.sobre-mim-text {
    color: #642a68;
}

.sobre-mim-text h2 {
    color: #56235a;
}

.sobre-mim-icon {
    font-size: 4rem;
    padding-top: 7rem;
    display: flex;
    justify-content: space-around;
}

.sobre-mim-item {
    color: #f87f28;
}

.sobre-mim-item:hover {
    color: #5a1b68;
}

/* HABILIDADES */
.habilidades {
    padding: 5rem 0;
    background-color: #ffebdd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habilidades-img {
    max-width: 50rem;
    margin: auto;
}

.habilidades-text {
    color: #78417d;
    max-width: 80rem;
    padding: 0 10rem;
}

.habilidades-text h2 {
    color: #f1587a;
}

.habilidades-icon {
    font-size: 4rem;
    padding-top: 11rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.habilidades-item {
    color: #642a68;
}

.habilidades-item:hover {
    color: #fd3c49;
    transition: 0.2s;
}

/* PROJETOS */
.projetos {
    background-image: linear-gradient(to bottom, #ffffff, #f0cde1);
}

.projetos-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem 0 10rem;

}

.projetos-text h2 {
    color: #6c1f7e;
}

.projetos-text a {
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ff822b;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.projetos-text a:hover {
    background-color: #6c1f7e;
}


/* CARDS */
.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.card-image {
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 */

    overflow: hidden;
    position: relative;
}

.card-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text {
    margin: 20px;
}

.text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #3d258d;
    ;
}

.titulo {
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-self: end;
    align-items: center;
}

.demo {
    margin-left: auto;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #fad4ba;
    text-decoration: none;
    cursor: pointer;
}

.demo:hover {
    background-color: #f7944e;
}

/* ANIMAÇÃO */
[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translateX(-5%);
}

[data-anime="right"] {
    transform: translateX(5%);
}

[data-anime="top"] {
    transform: translateY(-9%);
}

[data-anime].animate {
    opacity: 1;
    transform: translateX(0);
}


/* MEDIA QUERIES */

@media (max-width: 980px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 890px) {
    .sobre-mim-img {
        max-width: 50rem;
    }

    .habilidades-img {
        max-width: 40rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 40%;
    }

    .apresentação-img {
        max-width: 60rem;
    }
}

/* COLUNAS */
@media (max-width: 615px) {
    .navbar-img {
        position: absolute;
        top: 10px;
    }

    .apresentação {
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 5rem;
    }

    .apresentação-img {
        max-width: 70rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .sobre-mim {
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim-img {
        max-width: 60rem;
    }

    p {
        padding-top: 3rem;
    }

    .habilidades {
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 3rem;
    }

    .habilidades-img {
        padding-bottom: 3rem;
    }

    .projetos-text h2 {
        padding-bottom: 5rem;
    }

    /* MENU HAMBURGUER */
    .navbar-menu {
        display: none;
    }

    .um,
    .dois,
    .tres {
        background-color: #f24a5b;

        height: 2px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 24px;
        height: 18px;
        margin-right: 2px;
    }

    /* FULL SCREN */
    .navbar {
        padding: 2.5rem 3rem;
        border-bottom: 2px solid #ff9951;
    }

    .navbar-img {
        max-width: 6.5rem;
        position: absolute;
        z-index: 20;
        top: 7px;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 30vh;

        background-color: #fff;
        border-bottom: 2px solid #ff9951;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    /* CRIANDO O X */
    .menu-section.on .menu-toggle .um {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .dois {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .tres {
        transform: rotate(-45deg) translate(4px, -5px);
    }

    .menu-section.on .navbar-menu {
        display: block;
        text-align: center;
        padding-top: 5.5rem;
    }

    .menu-section.on .navbar-menu-item {
        transition-duration: 0.5s;
        font-size: 2rem;
        color: #f24a5b;
        line-height: 4rem;
        display: block;
    }

    .menu-section.on .navbar-menu-item:hover {
        font-size: 2.4rem;
        color: #642a68;
        /* background-color: #ffebdd; */
        border-bottom: none;
        transition-duration: 0.3;
    }

}

@media (max-width: 418px) {

    .apresentação-img {
        max-width: 50rem;
        padding: 5rem 0;
    }

    .sobre-mim-img {
        max-width: 40rem;
    }

    .projetos-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 5rem 0 5rem;
    }

    .projetos-text a {
        padding: 10px 10px;
        border-radius: 15px;
    }
}